* {
	margin: 0;
	padding: 0;
}
.home-body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10vw;
	height: 85vh;
	p {
		font-size: 7vw;
	}
	img {
		width: 35vw;
		height: auto;
	}
}
